.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




html, body { height: 100%; }

.mainMenuButton{
  width:100px;
  height:100px;
  font-size:20px;
}

.addButtons{
  width:300px;
  height:150px;
  font-size:40px;
  display:block;
  margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.addForm{
  text-align:left;
  width:50%;
  margin: auto;
}

textarea{
  width:80%;
}

.recipeBox{
  margin-top:20px;
  background-color: red;
  text-align:left;
  width:80%;
  margin: auto;
}

.listedIngredient{
  background-color:red;
  color:white;
  width:80%;
  font-size:20px;
  margin: auto;
}
.listedIngredientBox{
  height:30vh;
  overflow:auto;
}

.findReqs{
  background-color:blue;
  color:white;
  width:80%;
  font-size:20px;
  margin: auto;
}
.findReqsBox{
  max-height:20vh;
  overflow:auto;
}

#itemsListBox{
  background-color:#66ffff;
  border-radius: 5%;
}

#reqBox{
  background-color:#ff9999;
  border-radius: 5%;
}

#findBox{
  height:80vh;
}

#display{

}

#findButton{
  margin-top:30px;
}

.recipeScreen{
  width:80%;
  margin:auto;
}

.recipeIngredients{
  width:40%;
  text-align:left;
  background-color:yellow;
  margin:auto;
}

.browseRecipe{
  background-color: #66ffff;
  margin-top:10px;
  margin:auto;
  width:60%;
}

.browseIngredient{
  background-color: #66ffff;
  margin-top:10px;
  margin:auto;
  width:60%;
}

.cartEditIngredient{
  background-color: #66ffff;
  margin:auto;
  margin-top:10px;
  width:60%;
}

.cartEditIngredientCounter{
  display:inline;
}
